    body {
        font-family: Arial, sans-serif;
        background-color: #eceff4;
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2319365c' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        background: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        /* width: 70%; */
        width: 400px;
    }

    input {
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .name-pair {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .name-pair input {
        /* width: 150px; */
        width: 100%;
    }

    .gender-birth-date {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .gender-birth-date input {
        /* width: 150px; */
        width: 100%;
    }

    button {
        background-color: #0078d7;
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #005ea6;
    }