* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}

body {
  /* background: linear-gradient(-45deg, #fcbce1, #fafbfd, #d6c0f3, #7b5cc5); */
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

@property --a {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@property --p {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --c1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}

@property --c2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}

html {
  --s: 80px;
  --_g: #0000, var(--c1) 2deg calc(var(--a) - 2deg), #0000 var(--a);
  background:
    conic-gradient(from calc(-45deg - var(--a)/2) at top var(--p) left var(--p), var(--_g)),
    conic-gradient(from calc(-45deg - var(--a)/2) at top var(--p) left var(--p), var(--_g)),
    conic-gradient(from calc(45deg - var(--a)/2) at top var(--p) right var(--p), var(--_g)),
    conic-gradient(from calc(45deg - var(--a)/2) at top var(--p) right var(--p), var(--_g)),
    conic-gradient(from calc(-135deg - var(--a)/2) at bottom var(--p) left var(--p), var(--_g)),
    conic-gradient(from calc(-135deg - var(--a)/2) at bottom var(--p) left var(--p), var(--_g)),
    conic-gradient(from calc(135deg - var(--a)/2) at bottom var(--p) right var(--p), var(--_g)),
    conic-gradient(from calc(135deg - var(--a)/2) at bottom var(--p) right var(--p), var(--_g)) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  animation: m 2s infinite alternate linear;
}

@keyframes m {

  0%,
  15% {
    --a: 135deg;
    --p: 20%;
    --c1: #84a1ff;
    --c2: #FAD089;
    background-position: 0 0, var(--s) var(--s);
  }

  45%,
  50% {
    --a: 90deg;
    --p: 25%;
    --c1: #84a1ff;
    --c2: #FAD089;
    background-position: 0 0, var(--s) var(--s);
  }

  50.01%,
  55% {
    --a: 90deg;
    --p: 25%;
    --c2: #84a1ff;
    --c1: #FAD089;
    background-position: var(--s) 0, 0 var(--s);
  }

  85%,
  100% {
    --a: 135deg;
    --p: 20%;
    --c2: #84a1ff;
    --c1: #FAD089;
    background-position: var(--s) 0, 0 var(--s);
  }
}


.layout {
  display: flex;
  height: 90vh;
  border: 1px solid #181818;
  /* padding: 40px 30px; */
  background-color: #ffffff;
  box-shadow: 8px 8px 0px #181818;
  position: relative;
  border-radius: 12px;
  overflow: hidden;

}

.layout::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid #181818;
  z-index: -1;
  border-radius: 12px;
}

.sidebar {
  height: 100%;
  width: 240px;
  background: #FF5E5B;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar nav a {
  display: block;
  color: #1d1d1d;
  padding: 12px 10px;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.sidebar nav a:hover,
.sidebar nav .active {
  background: rgba(255, 216, 215, 10);
  color: #1d1d1d;
}

.icon {
  width: 15px;
  height: 18px;
  margin-right: 15px;
  /* filter: brightness(0) saturate(100%) invert(60%) sepia(70%) hue-rotate(200deg) saturate(300%) brightness(90%); */
  /* border-style: solid; */
}

.content {
  flex: 1;
  padding: 40px;
  background: #f5f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.chart-container {
  height: 80%;
  /* max-height: 200px; */
}

.cards {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #ddd;
  height: 20vh;
}

.footer {
  margin-top: auto;
  /* padding: 12px; */
}

.print-button {
  /* width: 100%; */
  padding: 12px;
  background-color: #ffffff;
  color: #1d1d1d;
  font-size: 16px;
  /* font-weight: bold; */
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 20px; */
  font-size: 15px;
  border-radius: 2px;
  border: 2px outset ButtonFace;
  background-color: ButtonFace;

}

.print-button img {
  margin-right: 10px;
  transition: 0.3s ease;

}

.print-button:hover {
  background: #83a0fa;
  transform: translateY(-2px);
  color: #2c2c2c;

}

.print-button:hover img {
  filter: brightness(1.2);
}

.print-icon {
  height: 15px;
  filter: invert(30%) sepia(45%) saturate(600%) hue-rotate(220deg) brightness(90%) contrast(90%);
  margin-right: 15px;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notification-box {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.notification-box ul {
  list-style: none;
  padding: 10px;
}

.notification-box ul li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.notification-box ul li:last-child {
  border-bottom: none;
}